
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SF In Progress</title>
	<link href='css/main.css' rel='stylesheet'>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
</head>
<body>
	
	<div id="sidebar">
		<h3> Neighborhoods </h3>
		<div class="select-clear">
			<a href="#" id="select-all">Select All</a> | <a href="#" id="clear-all">Clear All</a>
		</div>
		<ul>
			<li><input type="checkbox" name="Balboa Park"> Balboa Park</li>
			<li><input type="checkbox" name="Bayshore"> Bayshore</li>
			<li><input type="checkbox" name="Bernal Heights"> Bernal Heights</li>
			<li><input type="checkbox" name="Buena Vista"> Buena Vista</li>
			<li><input type="checkbox" name="BVHP Area A,B"> Bayview</li>
			<li><input type="checkbox" name="Candlestick"> Candlestick</li>
			<li><input type="checkbox" name="Central"> Central</li>
			<li><input type="checkbox" name="Central Waterfront"> Central Waterfront</li>
			<li><input type="checkbox" name="Downtown"> Financial District</li>
			<li><input type="checkbox" name="East SoMa"> East SoMa</li>
			<li><input type="checkbox" name="Executive Park"> Executive Park</li>
			<li><input type="checkbox" name="HP Shipyard"> Hunters Point</li>
			<li><input type="checkbox" name="India Basin"> India Basin</li>
			<li><input type="checkbox" name="Ingleside, Other"> Ingleside</li>
			<li><input type="checkbox" name="Inner Sunset"> Inner Sunset</li>
			<li><input type="checkbox" name="Japantown"> Japantown</li>
			<li><input type="checkbox" name="Marina"> Marina</li>
			<li><input type="checkbox" name="Market Octavia"> Market Octavia</li>
			<li><input type="checkbox" name="Mission"> The Mission</li>
			<li><input type="checkbox" name="Mission Bay"> Mission Bay</li>
			<li><input type="checkbox" name="Northeast"> Northeast</li>
			<li><input type="checkbox" name="Outer Sunset"> Outer Sunset</li>
			<li><input type="checkbox" name="Park Merced"> Park Merced</li>
			<li><input type="checkbox" name="Richmond"> Richmond</li>
			<li><input type="checkbox" name="Rincon Hill"> Rincon Hill</li>
			<li><input type="checkbox" name="Showpl/Potrero"> Potrero Hill</li>
			<li><input type="checkbox" name="South Central, Other"> South Central, Other</li>
			<li><input type="checkbox" name="South of Market, Other"> SOMA</li>
			<li><input type="checkbox" name="TB Combo"> TB Combo</li>
			<li><input type="checkbox" name="VisVal"> Visitacion Valley</li>
			<li><input type="checkbox" name="Western Addition"> Western Addition</li>			
			<li><input type="checkbox" name="WSoMa"> West SoMa</li>
		</ul>
	</div>

	<div id="map-container" class="map-container"></div>

	<div id="legend">
		<h3> Project Status </h3>
		<div class="filter-status">
			<input type="checkbox" name="planning">
			<div class="key blue"></div>
			<div class="label"> Planning Permit phase</div><br>
		</div>
		<div class="filter-status">
			<input type="checkbox" name="building">
			<div class="key red"></div>
			<div class="label"> Building Permit phase</div><br>
		</div>
		<div class="filter-status">
			<input type="checkbox" name="construction">
			<div class="key green"></div>
			<div class="label"> Under Construction</div><br>
		</div>

		<h3> Type of Development </h3>
		<div class="filter-type">
			<input type="checkbox" name="Residential">
			<div class="key residential"><img src="img/residential.svg" /></div>
			<div class="label">Residential</div><br>
		</div>
		<div class="filter-type">
			<input type="checkbox" name="Commercial">
			<div class="key commercial"><img src="img/commercial.svg" /></div>
			<div class="label">Commercial</div><br>
		</div>
		<div class="filter-type">
			<input type="checkbox" name="Mixed Use">
			<div class="key mixeduse"><img src="img/mixeduse.svg" /></div>
			<div class="label">Mixed Use</div><br>
		</div>
		<div class="filter-type">
			<input type="checkbox" name="Public" >
			<div class="key public"><img src="img/public.svg" /></div>
			<div class="label">Public</div><br>
		</div>
		<div class="filter-type">
			<input type="checkbox" name="Industrial">
			<div class="key industrial"><img src="img/industrial.svg" /></div>
			<div class="label">Industrial</div><br>
		</div>

        <h3>Min. # of Units</h3>
        <div id="min_units_display" style="float:right">0</div>
        <input type="range" min="0" max="300" value="0" id="min_units">
	</div>

	<script type="text/template" id="tooltip">
		<h1> <%= address %> </h1>
        <p> <strong>Zoning type:</strong> <%= zoning %> </p>
        <p> <strong>Status:</strong> <%=  status %> </p>
        <p> <strong>Net new residential units:</strong> <%=  units %> </p>
        <p> <strong>Description:</strong> <%=  description %> </p>
	</script>

	<script src="js/lib/jquery.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	<script src="js/map.js" type="text/javascript"></script>
</body>
</html>
