<main>
    <section id = "slide-1" class = "homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -00px;"
            data-bottom-top="background-position: 50% 100px;"
            data-anchor-target="#slide-1"
        >
            <div class = "slide-overlay"
             data-bottom= "opacity: 1"
             data-top-bottom= "opacity: 0"
             data-anchor-target = "#slide-1"
             >
               <div class="hsContent"
                data-center="opacity: 1"
                data--80-top="opacity: 0"
                data-anchor-target="#slide-1 h1"
               >
                <h1>SF IN PROGRESS</h1>
                <p>growing together</p>
               </div>

            </div>
        </div><!-- bcg -->
    </section>

    <section id = "slide-2" class = "homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -300px;"
            data-bottom-top="background-position: 50% 100px;"
            data-anchor-target="#slide-2"
            >
            <div class="hsContainer">
                <div class="hsContent"
                data-bottom="opacity: 0"
                data-center="opacity: 1"
                data-206-top="opacity: 1"
                data--100-top="opacity: 0"
                data-anchor-target="#slide-2 h2"
                >


                    <h2>San Fransico is going through an acute</h2><h2>housing shortage</h2>
                </div>
            </div>
        </div>
    </section>

    <section id = "slide-3" class = "homeSlide">
        <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -300px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-3"
        >
            <div class="hsContainer">
                <div class="hsContent"
                data-400-bottom="opacity: 0"
                data-center="opacity: 1"
                data-406-top="opacity: 1"
                data--1000-top="opacity:0"
                data-anchor-target="#slide-3 .contentContainer"
                >
                    <div class = "contentContainer">
                            <h2>In 1940, the average price</h2> <h2>of a home in California </h2> <h2>was 20% higher than the US average.</h2><h2>Today, it is 150% higher.</h2>
                            <div class = "spacing"></div>
                            <h2>Last year, San Francisco allowed</h2> <h2>193 new homes to be built</h2><h2>for every 1,000 new residents.
                            </h2>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id = "slide-4" class = "homeSlide">
        <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-4"
        >
            <div class="hsContainer">

                    <div class="hsContent"
                    data-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-206-top="opacity: 1"
                    data--100-top="opacity: 0"
                    data-anchor-target="#slide-4 h2"
                    >

                    <h2>The Bay Area is growing</h2>
                    <h2>And suburban sprawl costs the US $1 trillion a year.
                    </h2>
                </div>
            </div>
        </div>
    </section>


    <section id = "slide-5" class = "homeSlide">
        <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-5"
        >
            <div class="hsContainer">
                <div class="hsContent"
                data-400-bottom="opacity: 0"
                data-center="opacity: 1"
                data-406-top="opacity: 1"
                data--1000-top="opacity:0"
                data-anchor-target="#slide-5 .contentContainer"
                >
                    <div class = "contentContainer">
                        <h2>We can no longer afford to build <bold>OUT</bold></h2>
                        <h2>but need to build <bold>IN</bold></h2>
                        <div class = "space"></div>
                        <h2>We need to build smarter.</h2>
                        <h2>Around transit hubs.</h2>
                        <h2>And inside city limits.</h2>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id = "slide-6" class = "homeSlide">
        <div class="bcg">

            <div class="hsContainer">
                <div class="hsContent"
                 data--200-top = "opacity:0"
                 data--500-top ="opacity:1 position: fixed; top: 206px; width: 100%; left: 0;"
                 data-anchor-target= "#slide-5 .contentContainer"
                >



                        <h2> Let your Voice be Heard</h2>
                </div>
            </div><!-- hsContainer -->
        </div><!-- bcg -->
    </section>




</main>



<div id="contact">


</div>
