<div id="content">

<div id="form-container">
  <div id="title">
		Update planning meeting information 
  </div>
	<form method="post" id="form">
		<ul class="form">
		  <li>
		    Project Address
		  </li>
			<li>
				<!-- drop down list populated with projects from database -->
				<input >
			</li>
		  <li>
		    Meeting Date
		  </li>
			<li id="datechooser">
				<!-- pop-up calendar -->
			</li>
		  <li>
		    Meeting Time
		  </li>
			<li>
				<!-- time chooser -->
				<input type="time">
			</li>
		  <li>
		    Meeting Location
		  </li>
			<li>
				<!-- manual input for address -->
				<input type="text">
			</li>
		</ul><br />
		<button type="submit">Submit</button>
	</form>
</div>
</div>


<script src="js/meeting-info-form.js"></script>
