

body{
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    font-size:14px;
}

header{
    font-family: sans-serif;

}

#intro {
    width:100%;
    text-align: center;
    color: #fff;
    background: url(../assets/Landing.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#intro .intro-title{
  position:absolute;
  top:20%;
  right:15%;
  left:15%;
  width: 70%;
  text-align: center;
}


.carousel-container{
    position:absolute;
    top:30%;
    right:15%;
    left:15%;
    width:70%;

}


/********************************************Projects*/
.latest-projects-wrapper{
    margin:2% auto 2% auto;
    max-width: 1280px;

}

.row{
    margin:2%;
    padding:1%;
    background-color: #dfdfdf
}


div.col-md-4.housing{
    background-color: #dfdfdf;
    margin-left: 0px;
    padding-left: 0px;
}

div.col-md-4.housing>img{
    max-width: 100%;
    margin: 10px;
    background-color: white;
    padding:7px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.col-md-8{

}

.col-sm-4{
    /*background-color: blue;*/

}

.col-sm-4>img{
    max-width: 100%;
    background-color: white;
    padding:7px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}


/***************************************************************PROJECT TITLE & DESCRIPTION*/


.project-title{

    background-color:grey;
    height:30px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-title>h4{
    margin:0px;
    padding-top: 7px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-description{
    display:block;
    text-align: center;
    color:grey;
    margin-top: 10px;
    background-color: white;
    font-family: sans-serif;
    font-size: 12;
    min-height: 160px;

}

.project-description>p{
    padding:10px;
}









/********************************************************************CAROUSEL FADE EFFECT*/
.carousel-fade .item {
  opacity: 0;
  -webkit-transition: opacity ease-in-out 800ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -ms-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 800ms;
}

.carousel-fade .active.item {
  opacity: 1;
}

.carousel-fade .active.left, .carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.call-to-action{
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    top:50%;
    right:15%;
    left:15%;
    width:70%;
}











/*********************************************************MEDIA QUERIES*/
@media(min-width:768px) {


a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

}


@media(max-width:768px){

    /*div.col-sm-12.housing{
        text-align:center;
    }

    div.col-sm-12.housing img{
        margin:auto;
        max-width: 120%;
    }*/


     div.col-md-4.housing{
        text-align:center;
    }

     div.col-md-4.housing img{
        margin:auto;
        max-width: 120%;
    }

}


@media(max-width:990px){

    div.col-md-4.housing{
        text-align:center;
    }

     div.col-md-4.housing img{
        margin: 20px auto 10px;
    }



}





































