
body, html  {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family:sans-serif;
    background-color: transparent;
    color:black;
}


/*section{
    width:100%;
}
*/
a {
    color:white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
   /* color: #1d9b6c;*/
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/******************************************************************************NAVBAR*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #03103e;
    color:#fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/*span#logo.large{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;

}*/

/****************************ADD REAL LOGO AND GET RID OF THIS QUERY*/
/*@media(max-width:993px){
    span#logo.large{
        font-size:17px;
        font-weight: 800;
        border-bottom: none;

    }

}*/
/************************************************************/

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #03103e;
    }
}



/******************************************************************PARRALLAX-STORY*/



section {
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
main {
    overflow-x: hidden;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;


}
.slide-overlay{

    background:linear-gradient(0deg, rgba(68,116,169, .3), rgb(3,33,96) 100%) no-repeat;
    /*fall-back old browser*/
    /*background-color:black*/
    /*background-image:url("../img/landing.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    height: 100%;
    width:100%;
    display:block;
    text-align: center;

}

.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/*TAKE OUT***************************************************************************/
#project-title{
   /* width:0%;*/
    position:absolute;
   /* left:10%;*/
    /*top:15%;*/
    top:10%;

    right:10%;
    /*width:80%;*/
    text-align: center;
    /*color:white;*/

}
    #project-title h1 {
         /*color: white;*/
         font-size: 120px;
         font-size: 15vw;
         font-family: Open Sans;
         font-weight: 900;
         /*max-width: 1100px;*/
         color: rgba(255, 255, 255, 0.5);

    }

    #project-title h1



    #project-title span{
        /*letter-spacing: 20px;*/
        /*font-size: 120px;
         font-family: Open Sans;
         font-weight: 900;
        text-align: center;*/
       /* margin-left: 100px;*/

    }

    .title-scroll {
        text-align: center;
        margin-top: 50px;
        font-size: 80px;
    }

/*    #project-title a:hover {
        background-color: transparent;
    }*/

/*TAKE OUT***************************************************************************/

.hsContent {
    width: 70%;
    /*max-width: 700px;*/
    position: absolute;
    left: 15%%;
    right:15%;
    top: 40%;
    text-align: center;
    color:white;
    font-family: Raleway;
}
    .hsContent h1 {
        font-size:120px;
        line-height:120px;
        font-family: Open Sans Condensed;
        font-weight: 300;
        letter-spacing: 5px;

    }
    .hsContent p {
        font-family: Raleway;
        font-size: 42px;
        letter-spacing: 5px;
        color:white;
    }
    .hsContent a {
        /*color: #b2b2b2;
        text-decoration: underline;*/
    }

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/twin-peaks-05.jpg')}
#slide-1 .hsContent{

}


/*Slide 2*/
section#slide-2.homeSlide[style]{
    height:250px !important;
    background-color:#03103e;

}

#slide-2 .hsContent{
    width: 80%;
    right:10%;
    left:10%;
    top:10%;
    bottom:0%;
    letter-spacing: 2px;
}

#slide-2 .hsContent h2{
    font-family: Raleway;
    font-size:30px;
   /* font-size: 2vw;*/
  /*  font-weight: 500;*/
   /* text-transform: uppercase;*/

}

/* Slide 3 */
section#slide-2.homeSlide[style]{

    -webkit-transition: opacity 200ms ease-in!important;
    -moz-transition: opacity 200ms ease-in!important;
    transition: opacity 200ms ease-in !important;

    -webkit-transition: opacity 600ms ease-out!important;
    -moz-transition: opacity 600ms ease-out!important;
    transition: opacity 600ms ease-out !important;

}


#slide-3 .bcg {background-image:url('../img/downtown-07-blue-3.jpg')}
#slide-3 .hsContent {
    background-color:rgba(255, 255, 255, 1);
    top: 15%;
    height:70%;
    bottom:15%;
}

 .contentContainer{
    display:block;
    text-align: center;
    margin-right:auto;
    padding-right: 2%;
    margin-left:auto;
    padding-left: 2%;
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: 500;

}

#slide-3 .contentContainer h2{
    color:midnightblue;
}

.spacing{
    height:8%;
}



/* Slide 4 */
section#slide-4.homeSlide[style]{
    height:300px !important;
    background-color:#03103e;
    color:white;
}
    #slide-4 .hsContent {
        width: 80%;
        right:10%;
        left:10%;
        top:10%;
        bottom:0%;
        letter-spacing: 2px;
    }


#slide-4 .hsContent{
    width: 80%;
    right:10%;
    left:10%;
    top:10%;
    bottom:0%;
    letter-spacing: 2px;
}

#slide-4 .hsContent h2{
    font-family: Raleway;
    font-size:30px;
    color:white !important;


}

/* Slide 5 */
#slide-5 .bcg {background-image:url('../img/active-downtown-blue.jpg')}
#slide-5 .hsContent {
    background-color:rgba(255, 255, 255, 1);
    top: 15%;
    height:70%;
    bottom:15%;

}
    #slide-5 h2 {
        color:midnightblue;
        font-size: 30px;
    }



/* Slide 6 */


#slide-6 .bcg {background-image:url('../img/downtown-05.jpg')}



#slide-6 .hsContent h2{
    color:midnightblue;
    font-size: 100px;
    font-weight:700;
    postion:fixed;



}


























































