#sidebar {
	display: inline-block;
  width: 350px;
  height: 80%;
	position: absolute;
  padding-left: 20px;
  background-color: rgba(55, 59, 61, 0.67);
	color: white;
  overflow: scroll;
  margin: 30px;
  padding: 20px;
  /* over the map */
  z-index: 10;
}

#sidebar a {
  cursor: pointer;
  color: white;
}

#sidebar li {
	margin-left: -40px;
}

#collapse {
  cursor: pointer;
}

.leaflet-popup-content {
  min-width: 400px;
}

.leaflet-popup-content-wrapper {
  min-width: 400px;
}

/* Project Profile */
.projectProfile {
  width: inherit;
}

/* Map */

#map-container {
  position: absolute;
  /* height of navbar */
  top: 50px;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 0;
}

 /* Legend */

#legend > .filter-status > .key {
	width:20px;
	height: 20px;
	display: inline-block;
	margin-bottom: -3px;
}

#legend > .filter-status > .key.blue{
	background-color: #307de1;
}

#legend > .filter-status > .key.red{
	background-color: #ff3b52;
}

#legend > .filter-status > .key.green{
	background-color: #04ff54;
}

.filter-type img {
	display: inline-block;
}

/* FA icons */
i {
	cursor: pointer;
}

/* helpers */

.invisible {
	visibility: hidden;
}

/*********************\
    Basic reset
\*********************/

html, body{
    margin: 0;
    padding: 0;
}
ul {
	list-style-type: none;
}

/* Utilities */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.hidden{
  visibility: hidden;
}

.tooltip {
	z-index: 1000;
	background-color: green;
}
