body, html {
	width: 100%;
  height: auto;
	margin: 0px;
  padding: 20px 0px;
  font-family:sans-serif;
  background-color:#ccc;
  
  /*background:linear-gradient(0deg, rgba(68,116,169, .3), rgb(3,33,96) 100%) no-repeat;*/
}

/******************************************************************************NAVBAR*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #03103e;
    color:#fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}
/********************************************************************************END**/
a.bar {
    color:white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.bar:hover,
a.bar:focus {
    text-decoration: none;
   /* color: #1d9b6c;*/
}


#content {
	width: 100%;
  color: black;
  margin-top: 40px;
  padding: 0px;
  
}

#form-container {
  width: 600px;
  height: auto;
  clear: both;
  /*background-color:#ccc;*/

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#form {
  width: 100%;
  display: block;
  font-size: 18px;   
}

#title {
	font-size: 30px;
  margin-bottom: 20px;
}

button {
	
}

ul.form {
	margin: 5px 20px;
  align: left;
}

ul.form li {
	list-style: none;
  display: table;
  margin: 8px 0px;
}
