/* Chrome, Firefox, or IE has already loaded its default bias css */
body {
	padding-top: 50px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

#navlist li {
			display: inline;
			list-style-type: none;
			color: #DEE2FF;
			font-family: "Open Sans", sans-serif;
    		font-size: 1.8vw;
		}

		#navcontainer {
			float: right;
			margin-right: 2cm;
		}

		#title {
			text-align: center;
			color: #DEE2FF;
			font-weight: 800;
    		font-size: 8vw;
			letter-spacing: 14px;
		}

		#center {
			text-align: center;
			font-family: "Open Sans", sans-serif;
			font-size: 3em;
			font-size: 5.8vw;
			color: #DEE2FF;
			width: 50%;
		}

		body {
			background-color: #1D3F77;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		buttonContainer {
			position: absolute;

		}

		.button-panel {
			display: table;
			margin: 0 auto;
			text-align: center
		}

		.button {
			background-color: #9EF7A1;
			color: #5C6395;
			padding: 10px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}

		a {
			color: white;
		}

		a:link {
			text-decoration: none;
		}

		#callToAction {
			color: 5C6394;
			font-family: "Open Sans", sans-serif;

		}

		#link {
			margin: auto;
			width: 60%;
			border: none;
			padding: 20px;
			width: 27%;
			height: 30px;
			font-size: 25;
			font-family: "Open Sans", sans-serif;
			display: inline;

		}

		#caption {
			color: #D4D9FF;
			font-family: ovo;
			font-size: 3.9vw;

		}

		#imgcontainer {
			width: 30%;
			height: auto;
		}

		/* nav bar */

		ul.nav {
			list-style-type: none;
			overflow: hidden;
		}

		li.nav {
				float: left;
				margin: 0px;
				padding: 5px;
				}

		a.nav:link, a.nav:visited {
			display: block;
			font-weight: bold;
			color: #DEE2FF;
			background-color: #343753;
			text-align: center;
			padding: 5px;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 5px;
		}

		a.nav:hover, a.nav:active {
			background-color: black;
			color: #DEE2FF;
			border-radius: 5px;
		}

		#navbar {
			position: absolute;
			top: 0;
			height: 100px;
			width: 100%;
			background: white;
		}

		#top {
		  position: fixed;
		  top: 0;
		  left: 0;
		  z-index: 999;
		  width: 100%;
		  padding-bottom: 10px;
		  background-color: rgba(74, 79, 119,0.8);
		}

		.logo{
				position: absolute;
				left: 5px;
				top: 5px;
		}

		.logowrap {
			width: 50vw;
		}

		#logo1 {
			height: 100%;
		}

		#placeholder {
			height: 300px;
			width: 300px;
			background: black;
		}

		.center {
			text-align: center;
		}

		.logoBox {
			position: absolute;
			left: 10px;
			top: 5px;
			border: none;
			height: 77%;
			width: 20vw;

		}



		/* Old */

div.indent 	{
			margin-left: 1em;
			}

div.home 	{
			padding: 20px;
  			width: 90%    !important;
	  		height: auto   !important;
	  		}

div.history	{
			width: 65vw    !important;
			margin: 0 auto;
			text-align: center;
			border: 2px solid #DEE2FF;
			background-color: #DEE2FF;
			border-radius: 15px;
			padding: 30px;
			z-index: -1;
			text-align: left;
			}

.spacer {
			height: 80px;
			width: 100%;
			z-index: -5;
			border: none;
		}

.placeholder {

				width: 25%;
			}

/* big numbers */

div.list {
  width: 500px;
  margin: 20px auto;
}

/* list styles */

ol {
  list-style: none;
  color: #DEE2FF;
}

ol li.listli {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li.listli p {
  font: 12pt helvetica, arial, sans-serif;
  color: #DEE2FF;
  padding-left: 60px;
}

span {
  position: absolute;
  line-height: 25px;
}

.home-summary-point {
	width: 100%;
	margin-bottom: 90px;
}

.home-summary-point > h1, h2 {
	font-size: 40px;
	text-align: center;
	max-width: 700px;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-summary-point > h2 {
	font-size: 20px;
	font-family: 'Lora', serif;
}

.icon-title > h1 {
font-family: 'Lora', serif;
}

.home-summary-point > img {
	margin: auto;
	display: block;
}

.home-summary-point > .button {
	display: block;
	margin: auto;
}

#get-involved-button {
	font-size: 40px;
	text-align: center;
	width: 300px;
}
