#sidebar {
	position:absolute;
	top: 0;
	background-color: #f8f8f8;
	width: 250px;
	height: 100%;
	display: inline-block;
	padding-left: 40px;
}

#sidebar li {
	margin-left: -40px;
}

#collapse h3 {
	cursor: pointer;
}

#map-container {
	position: absolute;
	top: 0;
	left: 250px;
	width: 90%; 
	width: calc(100% - 250px);
	height: 100%;
	display: inline-block;

}

.leaflet-popup-content {
    min-width: 400px;
}

.leaflet-popup-content-wrapper {
  min-width: 400px;
}


.map-container {
 	position: absolute;
 	top:0;
 	bottom:0;
 	width:100%;
 }

 /* Legend */

#legend > .filter-status > .key {
	width:20px;
	height: 20px;
	display: inline-block;
	margin-bottom: -3px;
}

#legend > .filter-status > .key.blue{
	background-color: #307de1;
}

#legend > .filter-status > .key.red{
	background-color: #ff3b52;
}

#legend > .filter-status > .key.green{
	background-color: #04ff54;
}


*/
.filter-type img {
	display: inline-block;
}

/* FA icons */
i {
	cursor: pointer;
}

/* helpers */

.invisible {
	visibility: hidden;
}

/*********************\
    Basic reset
\*********************/

html, body{
    margin: 0;
    padding: 0;
}
ul {
	list-style-type: none;
}


/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 20px;
  right: 10px;
}
